polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.login1.inhibit-block-sleep" &&
        subject.isInGroup("users")) {
        return polkit.Result.YES;
    }
});
